<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sending emails to user in Python</title>
  </head>
  <body>


    <p>Welcome to the infoline digital media </p>
<nav style="width:100%;height:40px; background-color:blue; text-align: center; font-size: 25px; color: white;">Thanks for the registrations, {{ name }}</nav>
    <div style="width: 100% ; background-color: blue; text-align: center; "><br>
    		<p style="color:red;">your username is :> {{username}}</p>
    	<p>your password is :> {{password}}</p>
    	<p >your number is  :>{{number}}</p>
    	<p>your email is :> {{email}}</p>
    </div>

  </body>
</html>